<!DOCTYPE html>
<html>

<head>
    <title>Aktivacija korisničkog računa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #f5f5f5; font-family: Arial, sans-serif;">

    <div
        style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #fff; ">
        <h1 style="text-align: center; color: #337ab7;">Dobrodošli!</h1>
        <p style="text-align: justify;">Poštovani {{korime}},</p>
        <p style="text-align: justify;">Vaš korisnički račun je uspješno kreiran, kako biste započeli s korištenjem
            vašeg računa kliknite ispod na link za aktivaciju.</p>

        <p style="text-align: center; margin-top: 40px;">
            <a href="{{domena}}"
                style="display: inline-block; background-color: #337ab7; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Aktiviraj moj račun</a>
        </p>


        <p style="text-align: justify;">Lijep pozdrav,</p>
        <p style="text-align: justify;">oragnizacija xyz</p>
    </div>

</body>

</html>